In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import pandasql as pql

In [36]:
ac = pd.read_csv('aquaman-comments.csv')
ac.rename(columns = {'字段1':'code','字段2_文本':'useful', '时间':'date','字段5':'comment','字段3_文本':'name','字段5':'comment'}, inplace=True)
ac.drop(columns = ['字段2_链接','字段3_链接','字段4','时间1'],inplace=True)
ac.drop_duplicates()
pql.sqldf('select name, count(1) from ac group by name having count(1) > 1',globals())

              name  count(1)
0             2koo         3
1          AZWayne         3
2         Ada Wang         3
3      Bionic Bear         3
4           Cosine         3
5      Doublebitch         3
6         D先生在看片……         3
7         Favillae         3
8            HURRY         3
9             JADE         3
10    LeungChanXXX         3
11           Liang         3
12   LittleMonster         3
13         Lycidas         3
14         Morning         3
15    Mr. Infamous         3
16       Narcissus         3
17          Neroat         3
18             Oak         3
19            P.T.         3
20            Paco         3
21        Panda的阴影         3
22     Peter Tiger         3
23   Restless Soul         3
24          SELVEN         3
25       Salvatore         3
26       Sebastian         3
27    Steamed Punk         3
28          Syg💙ZS         3
29          Thomas         3
..             ...       ...
190            西楼尘         3
191         解嗨的咸鱼桑         3
192           诸葛若见         3
193         谢谢你们的鱼         3
194            貳貳叁         3
195          路有冻死宇         3
196           路西法尔         3
197      近似无限透明的蓝色         3
198        逃犯克星张学友         3
199    阳光biubiubiu         3
200            阿子-         3
201             阿德         3
202           阿措~❤         3
203             阿暖         3
204             阿飞         3
205          陀螺凡达可         3
206            陆支羽         3
207           陽 宗原         3
208             零点         3
209         面包面条面饼         3
210          韦斯安徒生         3
211             顗禮         3
212             顿河         3
213            风间隼         3
214            马 夋         3
215            麦提爽         3
216             麻绳         3
217          麻辣小龙虾         3
218            黄青蕉         3
219            黑狗成         3

[220 rows x 2 columns]

In [6]:
x1 = pd.Series([1,2,3,4])
x2 = pd.Series(data = [1,2,3,4], index=['a','b','c','d'])
print(x1)
print(x2)

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [39]:
data = {'Chinese':[66,95,93,90,80],'English':[65,85,92,88,90],'Math':[30,98,96,77,90]}
df1 = DataFrame(data)
df2 = DataFrame(data, index=['ZhangFei','GuanYu','ZhaoYun','HuangZhong','DianWei'], columns = ['English','Chinese','Math'])
print(df1)
print(df2)

   Chinese  English  Math
0       66       65    30
1       95       85    98
2       93       92    96
3       90       88    77
4       80       90    90
            English  Chinese  Math
ZhangFei         65       66    30
GuanYu           85       95    98
ZhaoYun          92       93    96
HuangZhong       88       90    77
DianWei          90       80    90

In [19]:
df1.to_csv('data1.csv')
df2.to_csv('data-df2.csv')

In [42]:
# df2.drop(columns=['Chinese'])
df2.drop(index=['ZhangFei'])
df3 = df2.rename(columns={'Chinese':'YuWen','English':'YinYu'}, inplace=False)
df3.head()

            YinYu  YuWen  Math
ZhangFei       65     66    30
GuanYu         85     95    98
ZhaoYun        92     93    96
HuangZhong     88     90    77
DianWei        90     80    90

In [41]:
df2.head()

            English  Chinese  Math
ZhangFei         65       66    30
GuanYu           85       95    98
ZhaoYun          92       93    96
HuangZhong       88       90    77
DianWei          90       80    90

In [168]:
df = pd.read_csv('data-waiting-process.csv')
# print(df)
# df = df[df.Name != 'LiuBei']

# print(df.Name.str.title())
def plus(df, n, m):
    df['nEng'] = (df['English']) * n
    df['mEng'] = (df['English']) * m
    return df

def sum(df):
    df['sum'] = df['Chinese'] + df['English'] + df['Math']
    return df
    
# print(df.apply(plus,axis = 1, args = {2,3,}))
# print(df.append(df0))
df0 = df
# print(pd.merge(df,df0))
# dfq = pql.sqldf('select df.*, df0.* from df left join df0 on df.Name = df0.Name', globals())
# print(df)
# print(df.apply(sum, axis = 1))
df['sum'] = df['Chinese'] + df['English'] + df['Math']

In [172]:
score = df[df.columns[1:4]]
score = score.dropna(subset=['Math'])
w = pd.DataFrame([1,2,3], index=['Chinese','English','Math'])
df['weight score'] = score.dot(w)
df

         Name  Chinese  English  Math    sum  weight score
0    ZhangFei       66       65  30.0  161.0         286.0
1      GuanYu       95       85  98.0  278.0         559.0
2     ZhaoYun       93       92  96.0  281.0         565.0
3  HuangZhong       90       88  77.0  255.0         497.0
4     DianWei       80       90  90.0  260.0         530.0
5      LiuBei       80       90   NaN    NaN           NaN
6  ZhuGeLiang       90       88  55.0  233.0         431.0